<div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Add Course</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.col-lg-12 -->

    <div class="row">
        <div class="col-lg-6">
            <uib-accordion close-others="oneAtATime">
                <uib-accordion-group heading="{[{group.title}]}" ng-repeat="group in groups" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                    <form name="userForm" class="panel-open" ng-submit="submitForm()" method="get" action="#/dashboard"novalidate>                       
                        <div class="panel-body-opacity">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">    
                                        <div ng-repeat="item in group.users">
                                            <label>{[{ item.label }]}</label>
                                            <div ng-if="item.type === 'select'" ng-class="{ 'has-error' : groupList.{[{ item.name }]}.$invalid && !groupList.{[{ item.name }]}.$pristine }">
                                                <select ng-model="item.value" class="form-control select-form-control">
                                                    <option value="">--- Please Select ---</option>
                                                    <option required ng-repeat="option in item.options" name="{[{ item.name }]}" value="{[{option.value}]}">{[{option.value}]}</option>
                                                </select>
                                                <p ng-show="groupList.{[{ item.name }]}.$invalid && !groupList.{[{ item.name }]}.$pristine" class="help-block">Select a Department</p>
                                            </div>
                                            <div ng-if="item.type === 'text'" class="form-group" ng-class="{ 'has-error' : groupList.{[{ item.name }]}.$invalid && !groupList.{[{ item.name }]}.$pristine }">
                                                <input ng-model="groups[item.name]" type="{[{item.type}]}" class="form-control" name="{[{ item.name }]}"  placeholder="{[{item.placeholder}]}" />
                                                <p ng-show="groupList.{[{ item.name }]}.$invalid && !groupList.{[{ item.name }]}.$pristine" class="help-block">
                                                </p>
                                            </div>

                                            <div ng-if="item.type === 'textarea'" class="form-group" ng-class="{ 'has-error' : groupList.{[{ item.name }]}.$invalid && !groupList.{[{ item.name }]}.$pristine }">
                                                <input ng-model="groups[item.name]" type="{[{item.type}]}" class="form-control" name="{[{ item.name }]}"  placeholder="{[{item.placeholder}]}" />
                                                <p ng-show="groupList.{[{ item.name }]}.$invalid && !groupList.{[{ item.name }]}.$pristine" class="help-block">
                                                </p>
                                            </div>


                                             <div ng-if="item.type === 'date'" class="form-group" ng-class="{ 'has-error' : groupList.{[{ item.name }]}.$invalid && !groupList.{[{ item.name }]}.$pristine }">
                                                <input ng-model="groups[item.name]" type="{[{item.type}]}" class="form-control" name="{[{ item.name }]}"  placeholder="{[{item.placeholder}]}" />
                                                <p ng-show="groupList.{[{ item.name }]}.$invalid && !groupList.{[{ item.name }]}.$pristine" class="help-block">
                                                </p>
                                            </div>

                                        </div>
                                        <button type="submit" class="btn btn-danger {[{group.display}]}">Add new rubric</button>
                                </div>
                            </form>
                </uib-accordion-group>
            </uib-accordion>
        </div>        
    </div>
</div>
