<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Courses and Rubrics</h1>
            <div class="table-wrapper">
                <div class="desktop-block">
                    <div class="table-title section group">
                        <div class="col span_2_of_6">
                            <h4><strong class="strongFont">Major</strong></h4>
                        </div>
                        <div class="col span_2_of_6">
                            <h4><strong class="strongFont">Course</strong></h4>
                        </div>
                        <div class="col span_2_of_6">
                            <h4><strong class="strongFont">Rubric</strong></h4>
                        </div>
                    </div>
                </div>

                <div class="section group dashboard-block" ng-repeat="data in courses">


                    <div class="col span_2_of_6">
                        <h4>
                            <strong class="strongFont desktop-none">Major</strong>
                            <div class="eyeBtn desktop-none" >
                                <a ng-click="view(data._id)"><img src="img/eye.svg"></a>
                            </div>
                        </h4>

                        <h4 ng-click="view(data._id)">
                            <strong><p>{[{data.major}]}</p></strong>
                        </h4>
                    </div>

                    <div class="col span_2_of_6">
                        <strong class="strongFont desktop-none">Course</strong>
                        <strong ng-click="view(data._id)"><p>{[{data.course}]}</p></strong>
                    </div>
                    <div class="col span_2_of_6">
                        <strong class="desktop-none">Rubric</strong>
                        <p ng-click="view(data._id)">{[{data.rubric.name}]}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>