@import 'styles';

.addingDegreeCourse{
  position: absolute;
  left: 15px;
  top: 0px;
}
tbody{
  color:#fff;
}
.addingRubric{
  position: absolute;
  left: 315px;
    top: -5px;
}

.addingStudent{
  position: absolute;
  left: 435px;
  top: -5px;
}

.input-group-searchbox {
    position: relative;
    display: inline-table;
    border-collapse: separate;
    width: 94%;
    margin: 10px;
}

.divider {
  height: 1px;
  margin: 1px 0;
  overflow: hidden;
  background-color: #353542 }

.btn-danger {
    transition: background-color 0.5s ease;
    color: #fff;
    background-color: #747EA1;
    border-color: #747EA1;
    margin-top: 0;
    margin-left: 0;
}

.select-form-control{
    margin-bottom: 15px;
}

.desktop-sidebar{
  margin-top: 0;
  z-index: 1;
  position: absolute;
  width: 250px;
  background-color: $mainNavy;
  border-color: #e7e7e7;
  position: fixed;
  margin-top: 50px;
  height: 100%;
}
.marginLogin {
  margin-top: 130px; 
} 

.span_1_of_6 { 
  width: 33.33%;
  float: left;
}

.section {
  clear: both;
  padding: 0px;
  margin: 0 0 50px;
}
.navbar-default .navbar-brand {
  font-family: 'Pacifico', cursive;
}

p {
  margin: 0 0 10px;
  color: $darkGrey; }

strong{
  color: $mainSatLightNavyHover;
}

.strongFont{
  font-weight:1000;
}

.float-left{
    float: left;
    margin: 0 1%;
  }

@media (min-width: 992px){
  .modal-lg {
  }
}

hr{
    display: block;
    float: both;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), $lightGrey, rgba(0, 0, 0, 0));
}

h4 {
    font-size: 18px;
    margin-top: -10px;
}

.eye{
  fill: #94d31b; 
}

#page-wrapper {
  background-color: rgba(1,1,1,0);
}

.navbar-default {
    background-color: $mainNavy;
     border-color: rgba(6, 31, 48, 0); 
    position: fixed;
}

.panel {
  background-color: rgba(255,255,255,.03);
}
.panel-default > .panel-heading {
    background-color: #E2E4F0;
    border-color: #ddd;
    -webkit-box-shadow: 2px 2px 1px -1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 1px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 1px -1px rgba(0, 0, 0, 0.2);
    font-family: $header;
    color: $darkGrey;
}


.btn-danger:hover {
  background-color: rgba(87, 95, 153, 7);
  border-color: rgba(87, 95, 153, 7); 
}

.panel-heading{
  margin-top: 10px;
}

h1{
  color: rgba(215, 224, 257, .9);
}

body {
    background-image:url('../img/bg3.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
    background-attachment: fixed;
}
html{
  height: 100%;
}

#wrapper{
  padding-bottom: 100px;
}

.table-wrapper{
  padding: 30px;
  background-color: rgba(255,255,255,.7);
  border-top-style: none;
}

.table-title{
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-bottom-color: $mainLightNavy;
    border-left-style: none;
    padding-bottom: 0px;
}

.eyeBtn{
  cursor: pointer;
}









