/*main Color*/
$mainNavy : rgba(6, 31, 48, .9);
$mainLightNavy : rgba(62, 69, 112, .5);
$mainGreen : rgba(56, 170, 131, 1);
$mainLightCoolGrey : rgba(162, 185, 186, 1);
$mainDarkOrange : rgba(228, 125, 88, 1);
$mainSatLightNavy : rgba(116, 126, 161, 1);


/*main Hover Color*/
$mainNavyHover : rgba(9, 44, 69, 1);
$mainDarkOrangeHover : rgba(228, 87, 88, 1);
$mainSatLightNavyHover : rgba(87, 95, 153, 1);
$mainGreenHover : rgba(56, 190, 131, 1);

/*font Color*/
$lighterGrey : rgba(227, 242, 242, 1);
$lightGrey : rgba(193, 220, 222, 1);
$lightGreyTwo : rgba(160, 182, 180, 1);
$darkGrey : rgba(101, 102, 107, 1);

/*Fonts*/
$mainFont : 'Open Sans', sans-serif;
$headingFont : 'Raleway', sans-serif;
$header : 'Fira Sans', sans-serif;